* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
}
body {
  overflow-x: hidden;
}
.wrapper {
  min-width: 100%;
  min-height: 100vh;
  background-image: url("../images/stadium.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Start of header */

header {
  width: 100%;
  background-color: #333;
  height: 10vmin;
  order: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 20px black;
}
nav {
  width: 100%;
  height: 100%;
}
a img {
  width: 18vmin;
  height: 18vmin;
  transition: all 1s;

}
nav ul {
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}
nav li {
  display: flex;
  align-items: center;
  width: 20vmin;
  height: 100%;
  height: 100%;
  list-style: none;
  text-align: center;
  font-size: 3vmin;
  border-bottom: 3px solid #9fff80;
  transition: all 1.5s;
}
li a {
  width: 20vmin;
  text-decoration: none;
  color: #9fff80;
  transition: all 1.5s;
}
nav li:hover{
  box-shadow: inset 0 -100px 0 0 #9fff80;
  color: #333;
}
nav li:hover a{
  color: #333;
}
a img:hover {
  transform: rotate(360deg) scale(1.2);
}

/* End of header */

/* Start of main */

main {
  width: 100%;
  height: 87vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main ul {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100vmin;
  height: 20vmin;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  border-bottom: 5px solid black;
}
main li {
  color: white;
  text-shadow: 2px 2px 2px black;
}
main h1 {
  margin: 5vmin;
}
main h2 {
  margin: 5vmin;
}

/* End of main */

/* Start of footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3vmin;
  background-color: #333;
}
footer a {
  color: #9fff80;
  margin-left: 1vmin;
  margin-right: 1vmin;
  font-size: 2vmin;
}

/* End of footer */
