* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
}
body {
  overflow-x: hidden;
}
.wrapper {
  min-width: 100%;
  min-height: 100vh;
  background-image: url("../images/stadium.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size cover;
  filter: blur(20px;);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* Start of header */
header {
  width: 100%;
  background-color: #333;
  height: 10vmin;
  order: 0;
  top: 0;
  display: flex;
  flex-direction: row;
}
header img {
  width: 18vmin;
  height: 18vmin;
}
ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
li {
  width: 20vmin;
  height: 100%;
  list-style: none;
  text-align: center;
  font-size: 3vmin;
  border-bottom: 3px solid #9fff80;
  transition: all 1.5s;
}
a {
  height: 95%;
  width: 20vmin;
  text-decoration: none;
  color: #9fff80;
  line-height: 9.5vh;
}
li:hover {
  box-shadow: inset 0 -100px 0 0 #9fff80;
  color: #333;
}
/* End of header */
main {
  width: 100%;
  height: 87vmin;
}
footer {
  width: 100%;
  height: 3vmin;
  background-color: #333;
}
