/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-image: url('images/space.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  opacity: 0;
  transition: opacity 1s;
  z-index: 9;
}

.nav-point,
.nav-link,
.open a,
#toggleMenu,
#navBtns,
#about-content,
.content-container,
#modal-nav,
.language,
#employment-history,
.project h4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-point {
  height: 100vh;
}

/* Navigation Menu */
.nav {
  position: fixed;
  height: 10vh;
  width: 100vw;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  transition: height 1s, opacity 1s;
  z-index: 4;
  box-shadow: 2px 2px 10px black;
}

.open {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: .8;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #52b788;
}

.close {
  opacity: 0;
  height: 0;
}

.close a {
  opacity: 0;
}

.nav-link {
  display: none;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 0 2em;
  transition: opacity .5s, box-shadow .5s, color .5s;
  font-size: 1em;
  cursor: pointer;
}

.nav-link:nth-last-child(1) {
  margin-right: 2em;
}

.nav-link:hover {
  box-shadow: inset 0 -250px 0 white;
  color: transparent;
}

.open .btn:hover {
  box-shadow: inset 0 -250px 0 white;
  color: black;
}

.active {
  background-color: white;
  box-shadow: 0px 0px 5px black;
}

.open a {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  font-size: 2em;
  font-weight: bolder;
  border: 0;
  text-decoration: none;
}

#toggleMenu {
  position: fixed;
  top: 5px;
  right: 0;
  margin: 10px 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 5px;
  z-index: 10;
  cursor: pointer;
}

#toggleMenu i {
  font-size: 2em;
  color: white;
}

.btn {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  padding: 5px;
  margin: 0 10px;
  cursor: pointer;
  transition: .5s color, .5s border;
  outline: none;
  transition: box-shadow .5s, color .5s, border-color .5s;
  text-align: center;
}

.btn:hover {
  border-color: #ccc;
  color: #ccc;
}

/* Navigation Buttons fixed to bottom of the page */
#navBtns {
  position: fixed;
  flex-direction: column;
  align-items: flex-end;
  bottom: 0;
  width: 100%;
  height: 10vh;
  z-index: 2;
}

#navBtns i {
  font-size: 2em;
  color: seagreen;
  transition: opacity .3s;
  cursor: pointer;
  opacity: 0;
  margin: 0 15px;
}

/* Home section */
#canvas {
  height: 100%;
  width: 100%;
  display: none;
}

#home {
  flex-direction: column;
}

#home h1 {
  color: seagreen;
  font-family: 'Train One', cursive;
  font-size: 1.5em;
}

#home img {
  height: 70px;
  width: 70px;
}

/* About Page */
#about {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  box-shadow: 10px 10px 10px black;
}

#image-container {
  height: 100%;
}

#image-container {
  flex-direction: column;
  width: 30%;
  background-color: #002b36;
  display: none;
}

#about-content {
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 90%;
}

#image-container img {
  height: 90%;
  width: auto;
}

 h1 {
  font-size: 2em;
}

#about-content h2 {
  font-size: 1.5em;
  padding: 5px 0;
}

.content-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  margin: 10px 2%;
  box-shadow: 5px 5px 10px grey;
  cursor: pointer;
  transition: color .5s, background-color .5s;
  opacity: 0;
}

.slideIn {
  animation: slidein 1.5s;
  opacity: 1;
}

#about .content-option:hover {
  background-color: #002B36;
  color: white;
}

.content-option:nth-last-child(1) {
  margin-bottom: 50px;
}

.content-option i {
  font-size: 5em;
  margin: 24px 10px;
}

.content {
  flex-direction: column;
  padding: 5px;
  font-size: .5em;
}

.content h2 {
  align-self: flex-start;
}

/* Personal Details Modal */

#personal-details {
  flex-direction: column;
  align-items: center;
}

#personal-details p, .education-modal p {
  margin: 10px 0;
  text-align: center;
}

/* Education Modal */
#education-modal {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.education-column {
  width: 200px;
}

.education-column h2 {
  font-size: 1.5em;
}

.education-column h2 {
    text-align: center;
}

.education-column h4 {
  margin: 10px 0;
}

.education-column p {
  margin: 0 10px;
}

.qualifications {
  display: flex;
  flex-direction: row;
  width: 50%;
}

/* Hobbies */

#hobbies-modal ul {
  margin: 20px 0;
}

@keyframes slidein {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* Modal */
.modal {
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  border-radius: 20px;
  height: 90vh;
  width: 80%;
  margin: 5vh 10%;
  box-shadow: 0 0 20px black;
  display: none;
  z-index: 10;
}
.slideUp {
  animation: slideUp 1.5s;
  opacity: 1;
}

#modal-nav {
  width: 100%;
  height: 10%;
  border-radius: 20px 20px 0 0;
}

#modal-nav h1 {
  margin-left: auto;
  font-size: 1.5em;
  color: white;
}

#modal-nav a {
  margin: 5px 10px 10px auto;
  color: white;
  transition: color .5s;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
}

#modal-nav a:hover {
  color: red;
}

#modal-body {
  width: 60%;
  padding: 0 20%;
  display: flex;
  height: 85%;
  overflow-y: scroll;
}

.modal-content, #modal-body {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal-content {
  display: none;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid grey;
}

.modal-content h2 {
  padding: 10px 0;
}

.job-details, .responsibilities, .description {
  padding: 5px 0;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* Work Experience */
#work-experience {
  background-color: white;
}

#work-experience article {
  height: 100%;
}

#timeline-container {
  width: 30%;
  background-color: #553D67;
  color: white;
  display: none;
}

#timeline {
  position: relative;
  width: 80%;
  padding: 0 10%;
  height: 75%;
  overflow-y: scroll;
}

#timeline::after {
  content: " ";
  position: absolute;
  background-color: white;
  width: 5px;
  height: 780px;
  border-radius: 5px;
  padding-bottom: 20px;
}

#timeline .content {
  position: relative;
  margin-left: 10px;
  box-shadow: 2px 2px 5px black;
  background-color: white;
  color: black;
  float: right;
  width: 80%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  transition: background-color .5s;
  cursor: pointer;
}

#timeline .content:hover {
  background-color: #ccc;
}

#timeline .content:hover::before {
  border-color: transparent #ccc transparent transparent;
}

#timeline .content h3 {
  float: left;
}

#timeline .content h4, #timeline .content p {
  float: right;
}

#timeline .content::before {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  left: -9px;
  top: 10px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  transition: border .5s;
}

#timeline .content::after {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  left: -24.5%;
  top: 5px;
  border-radius: 50%;
  border: 10px solid white;
  width: 10px;
  height: 10px;
  background-color: #553D67;
  z-index: 2;
}

#employment-history {
  flex-direction: column;
  width: 90%;
  background-color: white;
  justify-content: flex-end;
}

#employment-history-heading, #about-content h1 {
  margin: 20px 0;
}

#employment-history .content-option:hover {
  background-color: #553D67;
  color: white;
}

/* Portfolio */
#portfolio div {
  height: 100%;
}

.portfolio-sidebar {
  width: 30%;
  background-color: rgb(80, 27, 29);
  color: white;
  text-align: center;
  display: none;
}

.portfolio-sidebar h2, #timeline-container h2 {
  padding: 20px 0;
  margin-top: 10vh;
  text-align: center;
}

#languages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 77%;
}

.language {
  width: 80%;
  height: 15%;
  padding: 0px 10%;
  transition: color .5s, background-color .5s;
  list-style: none;
  z-index: 3;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  background-color: white;
  text-align: center;
}

#projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80%;
  width: 90%;
  padding: 0 5%;
  overflow-y: scroll;
}

#projects::-webkit-scrollbar, #timeline::-webkit-scrollbar, #modal-body::-webkit-scrollbar {
  width: 5px;
}

#projects::-webkit-scrollbar-thumb, #timeline::-webkit-scrollbar-thumb, #modal-body::-webkit-scrollbar-thumb {
  background-color: #cccc;
  border-radius: 5px;
  cursor: pointer;
}

#projects::-webkit-scrollbar-thumb:hover, #timeline::-webkit-scrollbar-thumb:hover, #modal-body::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

#projects a {
  text-decoration: none;
}

#projects a {
  display: flex;
  height: 150px;
  position: relative;
  width: 300px;
  margin: 10px 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
  background-color: rgb(80, 27, 29);
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.project h4 {
  color: white;
  width: 100%;
  height: 10%;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  font-size: .8em;
}

.project img {
  width: 100%;
  height: 90%;
  border-radius: 5px 5px 0 0;
}

#projects a::after {
  position: absolute;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  color: white;
  background-color: rgb(0, 0, 0, .5);
  height: 100%;
  width: 90%;
  opacity: 0;
  transition: opacity .5s;
}

#game-based-learning-container::after {
  content: "PHP and JavaScript driven app that uses teacher inputted questions asked in key moments of a simulated football match";
}

#startpage-container::after {
  content: "Created a startpage that loads up when opening the browser to be able to quickly navigate to favourite sites";
}

#quanrantine-quiz-container::after {
  content: "Quarantine Quiz is an ongoing node.js application I am developing using web sockets to allow user to interact and play a quiz with friends which the user enter their own questions";
}

#business-intelligence-container::after {
  content: "A C# program that takes data from several datasets with different columns and corrupted data that enters the data into a single database and creates graphs to allow the data to be compared";
}

#projects a:hover::after {
  opacity: 1;
}

/* Contact modal */
.contact-me {
  height: 95%;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  padding: 5% 0;
  width: 100%;
}

.contact-input {
  width: 80%;
  border-bottom: 2px solid black;
  font-size: 1.2em;
  margin: 20px 0;
}

#body {
  height: 100px;
  border-radius: 5px;
  border: 2px solid black;
}

#contact-submit {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .5s;
}

#contact-submit:hover {
  background-color: #ccc;
}

.modal-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

#contact-pic {
  margin-top: 50px;
}


@media screen and (min-width: 260px) {
  #home {
    display: flex;
    flex-direction: row;
  }

  #home h1:nth-child(1) {
    margin-bottom: 50px;
    margin-left: 50px;
  }

  #home h1:nth-child(3) {
    margin-top: 50px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 350px) {

  .portfolio-sidebar {
    display: block;
  }

  .portfolio-content {
    width: 70%;
  }

  .content {
    font-size: .6em;
  }

  #modal-nav h1 {
    font-size: 2em;
  }

  #home h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 400px) {
  #canvas {
    display: block;
  }

  #home h1, #home img {
    display: none;
  }
}

/* TABLET STYLES */

@media screen and (min-width: 570px) {

  .nav {
    opacity: 1;
  }

  .nav-link {
    display: flex;
  }

  #toggleMenu {
    display: none;
  }

  .content {
    font-size: .7em;
  }
}

@media screen and (min-width: 720px) {

  #image-container {
    display: flex;
    justify-content: center;
  }

  #image-container img {
    height: 70%;
  }

  .content {
    font-size: .75em;
  }

  #about-content {
    width: 70%;
  }

  .content-option {
    width: 90%;
  }

  #timeline-container {
    display: block;
  }

  #employment-history {
    width: 70%;
  }

  .portfolio-sidebar h2, #timeline-container h2 {
    font-size: 1.5em;
  }

}

@media screen and (min-width: 870px) {

  #image-container img {
    height: 80%;
  }

  #projects a {
    width: 250px;
    height: 170px;
  }
}

@media screen and (min-width: 1000px) {

  #image-container {
    justify-content: flex-end;
  }

  #image-container img {
    height: 90%;
  }

  .content {
    font-size: .9em;
  }

  h2 {
    font-size: 1.8em;
  }

  #projects a {
    width: 270px;
  }

  .language {
    font-size: 1.5em;
  }

  #timeline::after {
    height: 820px;
  }

  #education-modal {
    flex-direction: row;
  }
}

@media screen and (min-width: 1250px) {

  .content {
    font-size: 1em;
  }

  #projects a {
    width: 350px;
    height: 200px;
  }

  #timeline::after {
    height: 850px;
  }
}
